body {
  background-color: rgb(8, 183, 242);
}

h1 {
  color: rgb(255, 4, 4);
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

p {
  color: rgb(55, 13, 13);
  text-align: center;
}